<!doctype html>
<html lang="en">
<head>
    <style>
      .outercontainer{
      width: 5%;
      min-height: 5vh;
      position: relative;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body style="background-color:#e8e3cf">
<header>
    <nav class="navbar navbar-light " style = "background-color: #473a33">
        <a class="navbar-brand" href="http://127.0.0.1:8080/main_page" style = "color: #edd8be">𓆩 🆅🅺🆄🆂🅽🅰🅸 🆉🅷🅸🆉🅽 𓆪</a>
        <a></a><a></a><a></a><a></a>
        <a  href="http://127.0.0.1:8080/menu" style = "color: #edd8be">Меню</a>
        <a  href="http://127.0.0.1:8080/stock" style = "color: #edd8be">Акции</a>
        {% if ak == 0 %}
            <a  href="http://127.0.0.1:8080/login" style = "color: #edd8be">Авторизация</a>
            <a  href="http://127.0.0.1:8080/register" style = "color: #edd8be">Регистрация</a>
        {% elif ak == 1 %}
            <a  href="http://127.0.0.1:8080/profile" style = "color: #edd8be">Профиль</a>
        {% endif %}
        <a  href="http://127.0.0.1:8080/cart" style = "color: #F2D3B1">Корзина</a>
        <a></a>
    </nav>
</header>
<!-- Begin page content -->
<div class="outercontainer" id=""scrl1></div>

<main role="main" class="container" style="width:70%;top: 10%;left:15%;margin:auto auto auto auto;background: #473a33;color:#edd8be">
    {% block content %}{% endblock %}
</main>
<div><p><p><h4 align="center" style="color: #473a33">OOO "nigers"</h4></div>
</body>
</html>
