{% extends "base.html" %}

{% block content %}

<div class="catalog-" style="height: 75px;">
        <div class="catalog-row-" style="display: flex;justify-content: space-around;">
                <a href="#pizza">Пицца</a>
                <a href="#wok">WOK</a>
                <a href="#rolls">Роллы</a>
        </div>
</div>
<div>
        <h1 id="pizza">Пицца</h1>
        <div class="container">
                <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                        <td><img src="/static/img/pizza1.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h3>Маргарита</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>500 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
                <div class="carousel-item">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                      <td><img src="/static/img/pizza2.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                      <td><h3>Песто</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>600 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
                <div class="carousel-item">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                      <td><img src="/static/img/pizza3.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                      <td><h3>Пепперони</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>300 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <h1 id="wok">WOK</h1>
        <div class="container">
                <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                        <td><img src="/static/img/wok1.png" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h3>Удон</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>200 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
                <div class="carousel-item">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                      <td><img src="/static/img/wok2.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                      <td><h3>Якисоба</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>400 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
                <div class="carousel-item">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                      <td><img src="/static/img/wok3.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                      <td><h3>Соба с курицей</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>300 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <h1 id="rolls">Роллы</h1>
        <div class="container">
                <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                        <td><img src="/static/img/roll1.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h3>Калифорния</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>350 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
                <div class="carousel-item">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                      <td><img src="/static/img/roll2.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                      <td><h3>Филадельфия</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>250 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
                <div class="carousel-item">
                  <table>
                    <tr style="display: flex; justify-content: center;">
                      <td><img src="/static/img/roll3.jpg" class="d-block w-100" alt="..." width="1300" height="600"></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                      <td><h3>Вулкан</h3></td>
                    </tr>
                    <tr style="display: flex; justify-content: center;">
                        <td><h4>200 руб.</h4></td>
                        <td><button>В корзину</button></td>
                    </tr>
                  </table>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

{% endblock %}