<!doctype html>
<html lang="en">
<head>
    <style>
      .outercontainer{
      width: 5%;
      min-height: 5vh;
      position: relative;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    html{
        scroll-behavior: smooth;
        overflow-y: scroll;
    }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body style="background-color:#e8e3cf">
<header>
    <nav class="navbar navbar-light " style = "background-color: #473a33">
        <a class="navbar-brand" href="https://sunset-slow-drop.glitch.me/menu" style = "color: #edd8be">𓆩 🆅🅺🆄🆂🅽🅰🅸 🆉🅷🅸🆉🅽 𓆪</a>
        <a></a><a></a><a></a><a></a><a></a>
        <a  href="https://sunset-slow-drop.glitch.me/menu" style = "color: #edd8be">Меню</a>
        {% if ak == 0 %}
            <a  href="https://sunset-slow-drop.glitch.me/login" style = "color: #edd8be">Авторизация</a>
            <a  href="https://sunset-slow-drop.glitch.me/register" style = "color: #edd8be">Регистрация</a>
        {% elif ak == 1 %}
            <a  href="https://sunset-slow-drop.glitch.me/profile" style = "color: #edd8be">{{ user.name }}</a>
        {% endif %}
        <a  href="https://sunset-slow-drop.glitch.me/cart" style = "color: #F2D3B1">Корзина</a>
        <a></a>
    </nav>
</header>
<!-- Begin page content -->
<div class="outercontainer"></div>
<main role="main" class="container" style="width:70%;top: 10%;left:15%;margin:auto auto auto auto;background: #473a33;color:#edd8be">
    {% block content %}{% endblock %}
</main>
<div> <p> </p> <h4 align = "center" style = "color: #473a33"> ООО"project-x"</h4> </div>
</body>
</html>
